pkgbase = gazebo-fortress
	pkgdesc = A multi-robot simulator for outdoor environments
	pkgver = 1.0.3
	pkgrel = 1
	url = https://gazebosim.org/
	arch = any
	license = Apache
	makedepends = cmake
	makedepends = git
	makedepends = python-vcstools
	makedepends = python-colcon-common-extensions
	makedepends = lsb-release
	makedepends = gnupg
	depends = curl
	depends = freeglut
	depends = ffmpeg
	depends = benchmark
	depends = eigen
	depends = freeimage
	depends = gflags
	depends = glew
	depends = gts
	depends = jsoncpp
	depends = ogre-1.9
	depends = protobuf
	depends = python3
	depends = sqlite
	depends = tinyxml2
	depends = urdfdom
	depends = libwebsockets
	depends = libxi
	depends = libxml2
	depends = libxmu
	depends = libyaml
	depends = libzip
	depends = zeromq
	depends = python-distutils-extra
	depends = python-psutil
	depends = pybind11
	depends = python-pytest
	depends = python-yaml
	depends = qt5-charts
	depends = qt5-graphicaleffects
	depends = qt5-declarative
	depends = qt5-quickcontrols
	depends = qt5-quickcontrols2
	depends = qt5-location
	depends = qt5-base
	depends = rubocop
	depends = ruby
	depends = swig
	depends = uuid
	depends = xorg-server-xvfb
	source = gazebo-fortress-1.0.3.yaml::https://raw.githubusercontent.com/ignition-tooling/gazebodistro/master/collection-fortress.yaml
	sha256sums = SKIP

pkgname = gazebo-fortress
